
.main {
    display: flex;
    margin-left: 300px;
    width: 600px;
    height: 650px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.heading {
  
    margin-top: 300px;
    margin-left: 100px;
}